/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
div.container{
    width: 540px;
    height: 345px;
    margin:0px auto;
    font-family: 'Droid Serif', serif;
}
div.main{
    width: 308px;
    margin-top: 35px;
    float:left;
    border-radius: 5px;
    Border:2px solid #999900;
    padding:0px 50px 20px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    color:green;
    font-weight: bold;
}
h2{
    background-color: #FEFFED;
    padding: 25px;
    margin: 0 -50px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
hr{
    margin: 0 -50px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom:25px;
}
span{
    font-size:13.5px;
}
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
.heading{
    font-size: 17px;
}
b{
    color:red;
}
input[type=text] {
    width: 200px;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 15px #c9c9c9;
    border: 1px solid #c9c9c9;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 3px;
}
input[type=checkbox]{
    margin-bottom:10px;
    margin-right: 10px;
}
input[type=submit]{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(#ffbc00 5%, #135037 100%);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}
button.btn {
    height: 41px;
    margin: 7px 0px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 300;
    float: left;
    border-radius: 5px;
}
input[type=submit]:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}